body {
    background-color: #1C2833;
}

.header {
  height: 200px;
  width: 800px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding-top: 10px;
  font-family: courier, monospace;
  text-align: justify;
  font-size: 50px;
}

.clock {
  height: 100px;
  width: 800px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding-top: 70px;
  font-family: courier, monospace;
  text-align: center;
  font-size: 100px;
  height: 100px;
    -webkit-animation-name: time;
    -webkit-animation-duration: 4s;
    animation-name: time;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


@keyframes time {
    0% {color: #99FFFF;}
    20% {color: #33FF99;}
    40% {color: #FF0099;}
    60% {color: #FF33FF;}
    80% {color: ##9966FF;}
    100% {color:#00FFFF ;}
}
